/*
 * HTML5 Boilerplate
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }
html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; }
label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
th, td { padding: .8em; }
a:link { text-decoration: none; color: #36c; }
a:visited { text-decoration: none; color: #99c; }
a:hover { text-decoration: none; color: #c33; }
a:active, a:focus { text-decoration: none; color: #000; }
/*  Initializr styles
 *  http://verekia.com/initializr/responsive-template
 *  Author: Jonathan Verrecchia
 */
body{ font:14px/24px Helvetica, Helvetica Neue, Arial, sans-serif; }
.wrapper{ width:90%; margin:0 5%; }
#header-container { border-bottom: 5px solid #f6f6f6; }
#header-container, #main aside{ background:#f8f8f8; }
#main aside ul { list-style: none; margin: 0; padding: 0; }
#title{ color:#505050; }
nav a{ display:block; margin-bottom:10px; padding:15px 0; color:#101010; text-align:center; text-decoration:none; font-weight:bold; }
#main{ padding:30px 0; }
#main article h1{ font-size:2em; }
#main aside{ color:#101010; padding:10px 5% 10px; }
#footer-container footer{ padding:20px 0; } 
#created-by { color:#aaa; float: right; }
#created-by a:link { text-decoration: none; color: #aac; }
#created-by a:visited { text-decoration: none; color: #aaf; }
#created-by a:hover { text-decoration: none; color: #c33; } 
.ie7 #title{ padding-top:20px; }
/* Pygments */
.syntax {background-color:#f8f8f8;  padding:5px 15px; -moz-border-radius:10px; border-radius:10px;}
.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic }
.err { border: 1px solid #FF0000 }
.k { color: #008000; font-weight: bold }
.o { color: #666666 }
.cm { color: #408080; font-style: italic }
.cp { color: #BC7A00 }
.c1 { color: #408080; font-style: italic }
.cs { color: #408080; font-style: italic }
.gd { color: #A00000 }
.ge { font-style: italic }
.gr { color: #FF0000 }
.gh { color: #000080; font-weight: bold }
.gi { color: #00A000 }
.go { color: #808080 }
.gp { color: #000080; font-weight: bold }
.gs { font-weight: bold }
.gu { color: #800080; font-weight: bold }
.gt { color: #0040D0 }
.kc { color: #008000; font-weight: bold }
.kd { color: #008000; font-weight: bold }
.kn { color: #008000; font-weight: bold }
.kp { color: #008000 }
.kr { color: #008000; font-weight: bold }
.kt { color: #B00040 }
.m { color: #666666 }
.s { color: #BA2121 }
.na { color: #7D9029 }
.nb { color: #008000 }
.nc { color: #0000FF; font-weight: bold }
.no { color: #880000 }
.nd { color: #AA22FF }
.ni { color: #999999; font-weight: bold }
.ne { color: #D2413A; font-weight: bold }
.nf { color: #0000FF }
.nl { color: #A0A000 }
.nn { color: #0000FF; font-weight: bold }
.nt { color: #008000; font-weight: bold }
.nv { color: #19177C }
.ow { color: #AA22FF; font-weight: bold }
.w { color: #bbbbbb }
.mf { color: #666666 }
.mh { color: #666666 }
.mi { color: #666666 }
.mo { color: #666666 }
.sb { color: #BA2121 }
.sc { color: #BA2121 }
.sd { color: #BA2121; font-style: italic }
.s2 { color: #BA2121 }
.se { color: #BB6622; font-weight: bold }
.sh { color: #BA2121 }
.si { color: #BB6688; font-weight: bold }
.sx { color: #008000 }
.sr { color: #BB6688 }
.s1 { color: #BA2121 }
.ss { color: #19177C }
.bp { color: #008000 }
.vc { color: #19177C }
.vg { color: #19177C }
.vi { color: #19177C }
/* Non-semantic helper classes */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/* ==|== media queries */
@media only screen and (min-width: 480px) {
nav a { float:left; width:27%; margin:0 1.7%; padding:15px 2%; margin-bottom:0; }
nav li:first-child a { margin-left:0; }
nav li:last-child a { margin-right:0; }
nav ul li { display:inline; }	
.oldie nav a { margin:0 0.7%;}
}
@media only screen and (min-width: 768px) {
#header-container, #main aside{-webkit-box-shadow:3px 3px 2px #aaa; -moz-box-shadow:3px 3px 2px #aaa; box-shadow:3px 3px 2px #aaa; }
#title{ float:left; } 
nav{ float:right; width:38%; }
#main article{ float:left; width:57%; }
#main aside{ float:right; width:28%; -moz-border-radius:10px; border-radius:10px;}
}
@media only screen and (min-width: 1140px) {
.wrapper{ width:1026px; margin:0 auto; }
}

@media print {
* { background: transparent !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
a, a:visited { color: #444 !important; text-decoration: underline; }
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
pre, blockquote { page-break-inside: avoid; }
thead { display: table-header-group; }
tr, img { page-break-inside: avoid; }
img { max-width: 100% !important; }
@page { margin: 0.5cm; }
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3{ page-break-after: avoid; }
#header-container, #footer-container, aside { display: none; }
}
