<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        {% include header.html %}

        {% unless page.pages == empty %}
        <h1>Pages</h1>
        <ul>
        {% for page in page.pages %}
            <li>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
        {% endfor %}
        </ul>
        {% endunless %}

        {% unless page.children == empty %}
        <h1>Children</h1>
        <ul>
        {% for page in page.children %}
            <li>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
        {% endfor %}
        </ul>
        {% endunless %}

        {% include footer.html %}
    </body>
</html>
