<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/css/style.css">
    {% endblock %}

    <script src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
    <div id="header-container">
        {% block header %}
        <header class="wrapper clearfix">
            <h1 id="title">{{ title }}</h1>
            <nav>
                <ul>
                    {% for c in breadcrumb %}
                    <li>
                        <a href="{{ c.url }}">{{ c.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        {% endblock %}
    </div>
    <div id="main-container">
        <div id="main" class="wrapper clearfix">
            <article>
                <section>
                {% block content %}
                {% endblock %}
                </section>
            </article>
            {% block aside %}
            {% endblock %}
        </div> 
    </div>

    <div id="footer-container">
        <footer class="wrapper clearfix">
        {% block footer %}
        <small id='created-by'>Created using <a href="http://simplectic.com/mvw">MVW</a></small>
        {% endblock %}
        </footer>
    </div>
</body>
</html>
