{% extends "base.html" %}
{% block content %}
    {% if pages %}
    <ul>
        {% for p in pages %}
        <li>
            <a href="{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
{% block aside %}
    {% if children %}
    <aside>
        <ul>
            {% for c in children %}
            <li>
                <a href="{{ c.url }}">{{ c.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </aside>
    {% endif %}
{% endblock %}
